[submodule "t-bears"]
	path = t-bears
	url = https://github.com/icon-project/t-bears.git
[submodule "icon-sdk-java"]
	path = icon-sdk-java
	url = https://github.com/icon-project/icon-sdk-java.git
[submodule "icon-sdk-python"]
	path = icon-sdk-python
	url = https://github.com/icon-project/icon-sdk-python.git
[submodule "icon-commons"]
	path = icon-commons
	url = https://github.com/icon-project/icon-commons.git
[submodule "icon-service"]
	path = icon-service
	url = https://github.com/icon-project/icon-service.git
[submodule "icon-rpc-server"]
	path = icon-rpc-server
	url = https://github.com/icon-project/icon-rpc-server.git
